.project-image {
  width: 40%;
  height: 75%;
}
.header-wrapper {
  background-image: url(images/water-drop-main-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-color: #363a42;
  background-blend-mode: multiply;
}

.banner h3 {
  color: inherit;
}
.banner #interactive {
  font-size: 1.1rem;
  margin: 1.25rem 0 0;
}
.paralax {
  display: flex;
  height: 100vh;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-size: cover;
  background-image: url("./images/water-drop-main-bg.jpeg");
  background-blend-mode: multiply;
  background-color: #464a52;
  background-position: center;
  background-attachment: fixed;
}
.paralax h2,
.paralax a {
  display: flex;
  margin: 1.1rem;
  align-self: center;
  text-decoration: none;
  color: #f1f1f1;
}

.tech-stack-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.tech-stack-icons-wrapper h4 {
  display: flex;
  justify-content: space-between;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 100;
  border-radius: 1rem;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4091bf;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a DIFFERENT background color to the cancel button */
.form-container .cancel {
  background-color: #464a52;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
